<template>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <Main_Focus />
        </div>
        <div class="col-lg-4">
          <InnoLab />
        </div>
        <div class="col-lg-4">
          <Motivation />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Main_Focus from "@/components/Main_Focus.vue";
import InnoLab from "@/components/InnoLab.vue";
import Motivation from "@/components/Motivation.vue";

export default {
  name: "About",
  components: {
    Main_Focus,
    InnoLab,
    Motivation
  }
};
</script>
