<template>
  <div>
    <Slider />
    <Product />
  </div>
</template>

<script>
// @ is an alias to /src
import Product from "@/components/Product.vue";
import Slider from "@/components/Slider.vue";

export default {
  name: "Header",
  components: {
    Product,
    Slider
  }
};
</script>
