<template>
  <div>
    <div class="container">
      <Projects />
    </div>
  </div>
</template>

<script>
import Projects from "@/components/Projects.vue";
export default {
  name: "Project",
  components: {
    Projects
  }
};
</script>
