<template>
  <div
    class="modal fade"
    id="contactModalScrollable-xl"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleXLModalScrollableTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Kontakt</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <!-- Inhalt des modalen Fensters -->
          <div>
            <h6>Angaben gemäß § 5 TMG</h6>
          </div>
          <br />
          <div>
            <h6>Postanschrift:</h6>
            <p>
              opta data Innovation Lab GmbH<br />
              Gesundheitscampus-Süd 33<br />
              44801 Bochum <br />
              <br />
              <a href="mailto:info@optadata-innovationlab.de"
                >info@optadata-innovationlab.de</a
              ><br />
              <a href="https://www.optadata-gruppe.de" target="_blank"
                >optadata-gruppe.de</a
              ><br />
              <a href="https://www.optadata-innovationlab.de" target="_blank"
                >www.optadata-innovationlab.de</a
              >
              <br />
              <br />
              Geschäftsführer: Dr. Jan Helmig<br />
              Registergericht: Amtsgericht Bochum <br />
              Handelsregister-Nr.: HRB 18302<br />
              Umsatzsteuer-Nr.: DE327414801<br />
              Inhaltlich verantwortlicher gemäß § 10 Absatz 3 MDStV: <br />
              opta data Innovation Lab GmbH<br />
            </p>
          </div>

          <br />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary col-2"
            data-dismiss="modal"
          >
            Abbrechen
          </button>
          <button
            type="button"
            class="btn btn-primary col-2"
            data-dismiss="modal"
          >
            Fertig
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Contact",
  data() {
    return {};
  }
};
</script>
