<template>
  <div
    class="modal fade"
    id="dataProtectionModalScrollable-xl"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleXLModalScrollableTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datenschutz</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <!-- Inhalt des modalen Fensters -->

          <div>
            <h6>Datenschutzerklärung</h6>
            <p>
              Wir freuen uns über Ihr Interesse an unserem Internetauftritt. Der
              Schutz Ihrer personenbezogenen Daten (im Folgenden auch kurz
              “Daten”) ist uns ein großes und sehr wichtiges Anliegen.
              Nachfolgend möchten wir Sie daher ausführlich darüber informieren,
              welche Daten bei Ihrem Besuch unseres Internetauftritts und
              Nutzung unserer dortigen Angebote erhoben und wie diese von uns im
              Folgenden verarbeitet oder genutzt werden. Ebenso möchten wir Sie
              darüber informieren, welche begleitenden Schutzmaßnahmen wir in
              technischer und organisatorischer Hinsicht getroffen haben. Bitte
              achten Sie darauf, dass diese Datenschutzrichtlinie von Zeit zu
              Zeit durch die Implementierung neuer Techniken und/oder durch
              Gesetzesänderungen aktualisiert werden kann. Hierauf machen wir
              Sie in geeigneter Weise aufmerksam. Selbstverständlich werden wir
              bei allen Änderungen stets in angemessener Weise Ihre Interessen
              berücksichtigen. Im Übrigen verweisen wir auf unsere Angaben im
              Impressum.
            </p>
          </div>
          <br />
          <div>
            <h6>Rechtsgrundlagen für die Verarbeitung Ihrer Daten</h6>
            <p>
              Rechtsgrundlagen für die Verarbeitung personenbezogener Daten
              sind:
            </p>
            <ul>
              <li>
                Soweit wir für Verarbeitungsvorgänge personenbezogener Daten
                eine Einwilligung der betroffenen Person einholen, dient Art. 6
                Abs. 1 S.1 lit. a) EU-Datenschutzgrundverordnung (DS-GVO) als
                Rechtsgrundlage.
              </li>
              <li>
                Bei der Verarbeitung von personenbezogenen Daten, die zur
                Erfüllung eines Vertrages erforderlich ist, dient Art. 6 Abs. 1
                S.1 lit. b) DS-GVO als Rechtsgrundlage. Dies gilt auch für
                Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher
                Maßnahmen erforderlich sind.
              </li>
              <li>
                Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung
                einer rechtlichen Verpflichtung erforderlich ist, der unser
                Unternehmen unterliegt, dient Art. 6 Abs. 1 S. 1 lit. c) DS-GVO
                als Rechtsgrundlage.
              </li>
              <li>
                Für den Fall, dass lebenswichtige Interessen der betroffenen
                Person oder einer anderen natürlichen Person eine Verarbeitung
                personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1
                S. 1 lit. d) DS-GVO als Rechtsgrundlage.
              </li>
              <li>
                Ist die Verarbeitung zur Wahrung eines berechtigten Interesses
                unseres Unternehmens oder eines Dritten erforderlich und
                überwiegen die Interessen, Grundrechte und Grundfreiheiten des
                Betroffenen das erstgenannte Interesse nicht, so dient Art. 6
                Abs. 1 S. 1 lit. f) DS-GVO als Rechtsgrundlage für die
                Verarbeitung.
              </li>
            </ul>
            <br />
            <h6>Speicherfristen</h6>
            <p>
              Die von uns verarbeiteten Daten werden unter Einhaltung der
              gesetzlichen Vorschriften, insbesondere nach Art. 17 und 18 DS-GVO
              gelöscht oder in ihrer Verarbeitung eingeschränkt. Sofern nicht im
              Rahmen dieser Datenschutzerklärung ausdrücklich angegeben, löschen
              wir bei uns gespeicherte Daten, sobald sie für ihre
              Zweckbestimmung nicht mehr benötigt werden. Über den Zeitpunkt des
              Zweckfortfalls hinaus werden Daten nur dann aufgehoben, wenn sie
              für andere und gesetzlich zulässige Zwecke erforderlich sind oder
              die Daten aufgrund gesetzlicher Aufbewahrungspflichten weiter
              vorgehalten werden müssen. In diesen Fällen wird die Verarbeitung
              eingeschränkt, also gesperrt und nicht für andere Zwecke
              verarbeitet.
            </p>
          </div>
          <br />
          <div>
            <h6>Server-Log-Daten</h6>
            <p>
              Für die informatorische Nutzung unseres Internetauftritts ist es
              grundsätzlich nicht erforderlich, dass Sie aktiv personenbezogene
              Daten angeben. Vielmehr erheben und verwenden wir in diesem Fall
              diejenigen Ihrer Daten, die uns Ihr Internetbrowser automatisch
              übermittelt. Dazu gehören:
            </p>
            <ul>
              <li>Datum und Uhrzeit des Abrufs einer unserer Webseiten;</li>
              <li>Ihren Browsertyp; die Browser-Einstellungen;</li>
              <li>das verwendete Betriebssystem;</li>
              <li>die von Ihnen zuletzt besuchte Seite;</li>
              <li>
                die übertragene Datenmenge und der Zugriffsstatus (Datei
                übertragen, Datei nicht gefunden etc.);
              </li>
              <li>Ihre IP-Adresse.</li>
            </ul>

            <p>
              Die Daten werden vorübergehend auf unseren Servern gespeichert.
              Eine Speicherung dieser Daten zusammen mit anderen als den oben
              angegebenen personenbezogenen Daten findet unsererseits nicht
              statt. Die vorübergehende Speicherung der IP-Adresse durch das
              System ist notwendig, um eine Auslieferung der Webseite an den
              Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse
              des Nutzers für die Dauer der Sitzung gespeichert bleiben.
              Darüberhinaus erstellen wir sogenannte Logfiles. Die Speicherung
              der angelegten Logfiles erfolgt zur Sicherstellung der Sicherheit
              unserer informationstechnischen Systeme. Eine personenbezogene
              Auswertung der Daten, insbesondere zu Marketingzwecken, findet
              nicht statt.
            </p>

            <p>
              Die Verarbeitung der vorgenannten Daten ist für das Angebot einer
              Webseite gemäß Art. 6 Abs. 1 S.1 lit. b), lit. c), lit. f) DS-GVO
              zwingend technisch erforderlich, um Ihnen unsere Webseite korrekt
              anzuzeigen und die Stabilität und Sicherheit zu gewährleisten.
              Insbesondere wird mit der Erstellung von Log-Files bezweckt,
              Angriffe auf unsere Systeme nachweisen zu können. Wir löschen die
              Server-Log-Dateien in der Regel sieben, spätestens jedoch 30 Tage
              nach Ihrem Besuch dieser Webseite.
            </p>
          </div>
          <br />
          <div>
            <h6>Cookies und eingebundene Angebote Dritter</h6>
            <p>
              Für unseren Internetauftritt nutzen wir die Technik der Cookies.
              Cookies sind kleine Textdateien, die im Rahmen Ihres Besuchs
              Webseiten von unserem Webserver an Ihren Browser gesandt und von
              diesem auf Ihrem Rechner für einen späteren Abruf vorgehalten
              werden. Ob Cookies gesetzt und abgerufen werden können, können Sie
              durch die Einstellungen in Ihrem Browser selbst bestimmen. Sie
              können in Ihrem Browser etwa das Speichern von Cookies gänzlich
              deaktivieren, es auf bestimmte Webseiten beschränken oder Ihren
              Browser so konfigurieren, dass er Sie automatisch benachrichtigt,
              sobald ein Cookie gesetzt werden soll und Sie um Rückmeldung dazu
              bittet. Für den vollen Funktionsumfang unseres Internetauftritts
              es allerdings aus technischen Gründen erforderlich, die genannten
              Session Cookies zuzulassen. Andere, dauerhafte Cookies können nach
              Ihrem Besuch auf Ihrem Computer gespeichert werden, und unsere
              Webseite kann jedes Mal, wenn Sie unsere Webseiten erneut
              zugreifen (sog. „ID Cookies“). Einige Cookies, die bei Ihrem
              Besuch unserer Webseiten gespeichert werden, können von anderen
              Unternehmen gespeichert und abgerufen werden. Cookies können keine
              Programme ausführen oder Viren auf Ihren Computer übertragen.
            </p>
            <p>
              Wir setzen sog. Session-Cookies (auch als temporäre Cookies
              bezeichnet) ein, also solche, die ausschließlich für die Dauer
              Ihrer Nutzung einer unserer Webseiten zwischengespeichert werden.
              Zweck dieser Cookies ist, Ihren Rechner während eines Besuchs
              unseres Internetauftritts beim Wechsel von einer unserer Webseiten
              zu einer anderen unserer Webseiten weiterhin zu identifizieren und
              das Ende Ihres Besuchs feststellen zu können. Persistente Cookies
              werden automatisiert nach einer vorgegebenen Dauer gelöscht, die
              sich je nach Cookie unterscheiden kann. Sie können die Cookies in
              den Sicherheitseinstellungen Ihres Browsers jederzeit löschen.
              Rechtsgrundlage für die Verwendung von Cookies ist Art. 6 Abs. 1
              S. 1 lit. f) DS-GVO, soweit nicht anderweitig angegeben.
            </p>
          </div>
          <br />
          <div>
            <h6>Offenlegung gemäß § 16 Instituts-Vergütungsverordnung:</h6>
            Die Vergütung der Mitarbeiterinnen und Mitarbeiter der opta data
            Abrechnungs GmbH ist in den Anstellungsverträgen schriftlich
            fixiert. Der Überwiegende Teil der Mitarbeiter(innen) erhält feste
            Monatsgehälter sowie eine Zusatzzahlung. Mitarbeiter(innen) mit
            besonderer Verantwortung oder Bedeutung für das Unternehmen erhalten
            teilweise eine variable Vergütung in Abhängigkeit vom
            Zielerreichungsgrad. Mitarbeiter(innen) im Vertrieb werden neben
            Festgehältern zusätzlich Provisionen gezahlt. Aufgrund des
            angemessenen Verhältnisses zwischen variablen und fixen
            Vergütungskomponenten, ergeben sich keine Abhängigkeiten von
            variablen Vergütungsbestandteilen. Somit werden Fehlanreize, die zu
            einer langfristigen Schädigung des Unternehmens oder der Kunden
            führen könnten, vermieden.
          </div>
          <br />
          <div>
            <h6>Third-Party-Cookies</h6>
            <p>
              Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen
              konfigurieren und z. B. die Annahme von Third-Party-Cookies oder
              allen Cookies ablehnen. Rechtsgrundlage für die Verwendung von
              Third-Party-Cookies ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO, soweit
              nicht anderweitig angegeben. Bitte beachten Sie die unter den
              nachfolgenden Punkten aufgeführten Hinweise über
              Third-Party-Cookies.
            </p>
          </div>
          <br />
          <div>
            <h6>I. Google Analytics</h6>
            <p>
              Bei Google Analytics handelt es sich um einen Webanalysedienst der
              Google LLC, Google LLC, Google LLC, 1600 Amphitheatre Parkway,
              Google verwendet hierbei Cookies. Die durch Cookies erzeugten
              Informationen über Benutzung des Onlineangebotes durch die Nutzer
              werden in der Regel an einen Server von Google in den USA
              übertragen und dort gespeichert. Google ist unter dem
              Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine
              Garantie, das europäische Datenschutzrecht einzuhalten (<a
                href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
                target="_blank"
                >www.privacyshield.gov...</a
              >).Wir weisen Sie darauf hin, dass auf dieser Webseite Google
              Analytics um den Code „anonymizeIp“ erweitert wurde, um eine
              anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu
              gewährleisten. Durch die Aktivierung der IP-Anonymisierung auf
              unserer Webseite, wird Ihre IP-Adresse von Google innerhalb von
              Mitgliedstaaten der Europäischen Union oder in anderen
              Vertragsstaaten des Abkommens über den Europäischen
              Wirtschaftsraum (EWR) zuvor gekürzt. Nur in Ausnahmefällen wird
              die volle IP-Adresse an einen Server von Google in den USA
              übertragen und dort gekürzt. In unserem Auftrag wird Google diese
              Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten,
              um Reports über die Webseitenaktivitäten zusammenzustellen, und um
              weitere, mit der Webseitennutzung und der Internetnutzung
              verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu
              erbringen. Die im Rahmen von Google Analytics von Ihrem Browser
              übermittelte IP-Adresse wird nicht mit anderen Daten von Google
              zusammengeführt. Dabei können aus den verarbeiteten Daten
              pseudonyme Nutzungsprofile der Nutzer erstellt werden. Die von
              Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten
              von Google zusammengeführt. Sie können die Erfassung der durch das
              Cookie erzeugten und auf ihre Nutzung des Onlineangebotes
              bezogenen Daten an Google sowie die Verarbeitung dieser Daten
              durch Google verhindern, indem Sie das unter folgendem Link
              verfügbare Browser-Plugin herunterladen und installieren:
              <a
                href="http://tools.google.com/dlpage/gaoptout?hl=de"
                target="_blank"
                >tools.google.com...</a
              >. Weitere Informationen zur Datennutzung durch Google,
              Einstellungs- und Widerspruchsmöglichkeiten erfahren Sie auf den
              Webseiten von Google unter
              <a
                href="https://www.google.com/intl/de/policies/privacy/partnerssowie"
                target="_blank"
                >www.google.com/intl/de/policies/privacy/partnerssowie</a
              >
              unter
              <a href="http://www.google.com/policies/technologies/ads"
                >www.google.com/policies/technologies/ads</a
              >
              und
              <a href="http://www.google.de/settings/ads" target="_blank"
                >www.google.de/settings/ads</a
              >
            </p>
          </div>
          <br />
          <div>
            <h6>II. YouTube Videos</h6>
            <p>
              Wir binden die Videos der Plattform “YouTube” des Anbieters Google
              LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, ein.
              Wenn Sie eine unserer mit einem YouTube-Plugin ausgestatteten
              besuchen, wird eine Verbindung zu den Servern von YouTube
              hergestellt. Dabei wird dem YouTube-Server mitgeteilt, welche
              unserer Seiten Sie besucht haben. Wenn Sie in Ihrem
              YouTube-Account eingeloggt sind, ermöglichen Sie YouTube, Ihr
              Surfverhalten direkt Ihrem persönlichen Profil zuzuordnen. Dies
              können Sie unter Umständen verhindern, indem Sie sich aus Ihrem
              YouTube-Account ausloggen. Google ist unter dem
              Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine
              Garantie, das europäische Datenschutzrecht einzuhalten (<a
                href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
                target="_blank"
                >www.privacyshield.gov/participant...</a
              >). Die Datenschutzerklärung finden sie
              <a href="https://www.google.com/policies/privacy/" target="_blank"
                >hier</a
              >. Die Möglichkeit zum Opt-Out finden Sie
              <a
                href="https://adssettings.google.com/authenticated"
                target="_blank"
                >hier</a
              >
            </p>
          </div>
          <br />
          <div>
            <h6>III. Google Fonts</h6>
            <p>
              Auf dieser Webseite haben wir zur Darstellung bestimmte, von
              Google bereitgestellte Schriftarten (Fonts) eingebunden. Beim
              Aufruf einer Seite lädt Ihr Browser diese Schriftarten von einem
              Google-Server. Dabei wird Ihre IP-Adresse samt URL
              (Internetadresse) der bei uns aufgerufenen Internetseite, die Sie
              besucht haben, an einen Server der Firma Google übertragen. Wenn
              Sie in Ihrem Google-Account eingeloggt sind, ermöglichen Sie
              Google, Ihr Surfverhalten direkt Ihrem persönlichen Profil
              zuzuordnen. Dies können Sie unter Umständen verhindern, indem Sie
              sich aus Ihrem Google-Account ausloggen. Google ist unter dem
              Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine
              Garantie, das europäische Datenschutzrecht einzuhalten (<a
                href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
                target="_blank"
                >Link</a
              >). Weitere Informationen zu diesen Google Schriftarten finden Sie
              unter https://developers.google.com/fonts/faq und in der
              Datenschutzerklärung von Google unter
              <a href="https://www.google.com/policies/privacy" target="_blank"
                >www.google.com/policies/privacy</a
              >.
            </p>
          </div>
          <br />
          <div>
            <h6>IV. Social Plugins</h6>
            <p>
              Zum Schutze Ihrer Daten setzen wir bei der Implementierung von
              Social Plugins auf die „Shariff“-Lösung. Hierdurch werden die
              Plugins auf der Webseite lediglich als Grafik dargestellt, die
              Verlinkung auf die entsprechende Webseite des Plugin-Anbieters
              beinhaltet. Durch Anklicken der Grafik werden Sie somit zu den
              jeweiligen Diensten der Anbieter weitergeleitet. Erst dann werden
              ihre Daten an die jeweiligen Dienste gesendet. Sofern Sie die
              nicht anklicken, findet keinerlei Austausch zwischen Ihnen und den
              oben genannten Sozialen Netzwerken statt. Bei Aufruf der Netzwerke
              Netzwerke gelten die Bedingungen der Betreiber.
            </p>
          </div>
          <br />
          <div>
            <h6>Auftragsverarbeitung und Empfänger von Daten</h6>
            <p>
              Teilweise bedienen wir uns zur Verarbeitung Ihrer Daten externer
              Dienstleister, welche an unsere Weisungen gebunden sind. Diese
              wurden sorgfältig von uns ausgewählt, beauftragt und werden
              regelmäßig kontrolliert. Den Beauftragungen zugrunde liegen
              Vereinbarungen über die Auftragsverarbeitung nach Maßgabe des Art.
              28 DS-GVO. Eine eigenständige Verarbeitung zu eigenen Zwecken
              findet durch die Auftragsverarbeiter nicht statt. Sollten Sie
              Fragen zu unseren Auftragsverarbeitern haben, scheuen Sie bitte
              nicht, den Kontakt zu uns aufzunehmen. Zum Betrieb dieses
              Webangebots bedienen wir uns eines innerhalb der EU ansässigen
              Hostinganbieters, der in unserem Auftrag und auf Grundlage unserer
              berechtigten Interessen an einer effizienten und sicheren
              Zurverfügungstellung dieses Onlineangebotes gem. Art. 6 Abs. 1 S.
              1 lit. f), 28 DS-GVO Bestandsdaten, Kontaktdaten, Inhaltsdaten,
              Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von
              Besuchern oder Kunden dieses Webangebots verarbeitet.
            </p>
          </div>
          <br />
          <div>
            <h6>Ihre Rechte</h6>

            <p>
              Sie können nach Maßgabe der gesetzlichen Vorschriften die
              unentgeltlichen Rechte gegenüber dem Verantwortlichen der
              Datenverarbeitung geltend machen:
            </p>

            <ul>
              <li>
                Recht auf Auskunft (Art. 15 DS-GVO); Recht auf Berichtigung oder
                Löschung (Art. 16 und Art. 17 DS-GVO);
              </li>
              <li>
                Recht auf Einschränkung der Verarbeitung (Art. 18 DS-GVO);
              </li>
              <li>Recht auf Datenübertragbarkeit (Art. 20 DS-GVO);</li>
              <li>
                Recht auf Widerspruch gegen die Verarbeitung (Art. 21 DS-GVO).
              </li>
            </ul>
            <p>
              Sie haben zudem das Recht, sich bei einer
              Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer
              personenbezogenen Daten durch den Verantwortlichen zu beschweren.
            </p>
          </div>
          <br />

          <div>
            <h6>Datensicherheit</h6>
            <p>
              Wir setzen zudem technische und organisatorische
              Sicherheitsmaßnahmen ein, um anfallende oder erhobene
              personenbezogene Daten zu schützen, insb. gegen zufällige oder
              vorsätzliche Manipulation, Verlust, Zerstörung oder gegen den
              Angriff unberechtigter Personen.
              UnsereSicherheitsmaßnahmenwerdenentsprechend der
              technologischenEntwicklungfortlaufendverbessert.
            </p>
            <p>
              Unter anderem verwenden wir eine SSL Verschlüsselung zur sicheren
              Datenübertragung. Hierbei wird das verbreitete SSL-Verfahren
              (Secure Socket Layer) eingesetzt, wobei in der Regel eine 256 Bit
              Verschlüsselung gegeben ist. Falls Ihr Browser keine 256-Bit
              Verschlüsselung unterstützt, wird stattdessen in der Regel auf
              eine andere (bspw. 128-Bit v3 Technologie) zurückgegriffen. Ob
              eine einzelne Seite unseres Internetauftrittes verschlüsselt
              übertragen wird, erkennen Sie an der geschlossenen Darstellung des
              verschlossenen Schüssel- beziehungsweise Schloss-Symbols in der
              unteren oder oberen Statusleiste Ihres Browsers.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary col-2"
            data-dismiss="modal"
          >
            Abbrechen
          </button>
          <button
            type="button"
            class="btn btn-primary col-2"
            data-dismiss="modal"
          >
            Fertig
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DataProtection",
  data() {
    return {};
  }
};
</script>
