<template>
  <div>
    <footer class="footer">
      <div class="">
        <small class="">
          Copyright ©
          <a
            href="https://optadata-innovationlab.de"
            target="_blank"
            class="mr-2"
            v-bind:class="[user ? 'odil-text-blue' : 'text-white']"
            >opta data Innovation Lab GmbH</a
          >
          <a
            href="#"
            class="mr-2"
            v-bind:class="[user ? 'odil-text-blue' : 'text-white']"
            data-toggle="modal"
            data-target="#contactModalScrollable-xl"
            >Kontakt</a
          >

          <a
            href="#"
            class="mr-2"
            v-bind:class="[user ? 'odil-text-blue' : 'text-white']"
            data-toggle="modal"
            data-target="#impressumModalScrollable-xl"
            >Impressum</a
          >
          <a
            href="#"
            class="mr-2"
            v-bind:class="[user ? 'odil-text-blue' : 'text-white']"
            data-toggle="modal"
            data-target="#dataProtectionModalScrollable-xl"
            >Datenschutz</a
          >
        </small>
      </div>
    </footer>
  </div>
</template>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}
</style>

<script>
export default {
  name: "Footer",
  props: ["user"]
};
</script>
