<template>
  <div
    class="modal fade"
    id="impressumModalScrollable-xl"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleXLModalScrollableTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Impressum</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <!-- Inhalt des modalen Fensters -->
          <div>
            <h6>Herausgeber</h6>
            opta data Abrechnungs GmbH<br />
            Berthold-Beitz-Boulevard 514<br />
            45141 Essen<br />
          </div>
          <br />
          <div>
            <h6>Postanschrift:</h6>
            Postfach 12 03 13<br />
            45313 Essen<br />
          </div>
          <p>
            Tel.: 0201 / 3 19 60<br />
            Fax: 0201 / 3 19 62 22<br />
            service@optadata-gruppe.de<br />
          </p>
          <div>
            <h6>Registergericht:</h6>
            Amtsgericht Essen
          </div>
          <br />
          <div>
            <h6>Registernummer:</h6>
            HR Essen B 1995<br />
          </div>
          <br />
          <div>
            <h6>Vertretungsberechtigte Geschäftsführer:</h6>
            Mark Steinbach, Andreas Fischer<br />
          </div>
          <br />
          <div>
            <h6>Umsatzsteueridentifikationsnummer gemäß §27a UStG:</h6>
            DE119652507<br />
          </div>
          <br />
          <div>
            <h6>Aufsichtsbehörde:</h6>
            Bundesanstalt für Finanzdienstleistungsaufsicht (BaFin)<br />
            Graurheindorfer Straße 108<br />
            53117 Bonn<br />
            www.bafin.de<br />
          </div>
          <br />
          <div>
            <h6>Offenlegung gemäß § 16 Instituts-Vergütungsverordnung:</h6>
            Die Vergütung der Mitarbeiterinnen und Mitarbeiter der opta data
            Abrechnungs GmbH ist in den Anstellungsverträgen schriftlich
            fixiert. Der Überwiegende Teil der Mitarbeiter(innen) erhält feste
            Monatsgehälter sowie eine Zusatzzahlung. Mitarbeiter(innen) mit
            besonderer Verantwortung oder Bedeutung für das Unternehmen erhalten
            teilweise eine variable Vergütung in Abhängigkeit vom
            Zielerreichungsgrad. Mitarbeiter(innen) im Vertrieb werden neben
            Festgehältern zusätzlich Provisionen gezahlt. Aufgrund des
            angemessenen Verhältnisses zwischen variablen und fixen
            Vergütungskomponenten, ergeben sich keine Abhängigkeiten von
            variablen Vergütungsbestandteilen. Somit werden Fehlanreize, die zu
            einer langfristigen Schädigung des Unternehmens oder der Kunden
            führen könnten, vermieden.
          </div>
          <br />
          <div>
            <h6>
              Registrierungsbehörde/Aufsichtsbehörde nach dem
              Rechtsdienstleistungsgesetz (§10 I S. 1 Nr. 1 RDG):
            </h6>
            Oberlandesgericht Hamm<br />
            Hesslerstraße 53,<br />
            59065 Hamm<br />
            www.olg-hamm.nrw.de<br />
            Aktenzeichen: 3712-8.115<br />
            www.rechtsdienstleistungsregister.de<br />
          </div>
          <br />
          <div>
            <h6>Information zur Online-Streitbeilegung:</h6>
            Die Europäische Kommission stellt eine Plattform zur
            Online-Streitbeilegung (OS) bereit, die Sie unter
            ec.europa.eu/consumers/odr/ finden. Zur Teilnahme an einem
            Streitbetei-ligungsverfahren vor einer Verbraucherschlichtungsstelle
            sind wir nicht verpflichtet und nicht bereit.
          </div>
          <br />
          <div>
            <h6>Haftungshinweis:</h6>
            Diese Webseiten wurden mit größter Sorgfalt erstellt. Für die
            Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehmen
            wir keine Gewähr. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG
            für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
            verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
            nicht verpflichtet, übermittelte oder gespeicherte fremde
            Informationen zu überwachen oder nach Umständen zu forschen, die auf
            eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
            Entfernung oder Sperrung der Nutzung von Informationen nach den
            allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche
            Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
            konkreten Rechtsverletzung möglich. Werden uns entsprechende
            Rechtsverletzungen bekannt, werden wir diese Inhalte umgehend
            entfernen.
          </div>
          <br />
          <div>
            <h6>Haftung für Links</h6>
            Unser Angebot enthält Verlinkungen zu externen Webseiten Dritter.
            Auf diese Inhalte haben wir keinen Einfluss und können für diese
            auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten
            ist der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
            Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
            erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten
            Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
            nicht zumutbar. Werden uns Rechtsverletzungen auf den verlinkten
            Seiten bekannt, werden wir derartige Links umgehend entfernen.
          </div>
          <br />
          <div>
            <h6>Urheberrecht</h6>
            Die Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
            Urheberrecht. Für Vervielfältigung, Bearbeitung, Verbreitung und
            jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes ist
            eine schriftliche Zustimmung erforderlich. Downloads und Kopien
            dieser Seite sind nur für den eigenen, nicht kommerziellen Gebrauch
            gestattet. Für Inhalte auf dieser Seite, die nicht vom Betreiber
            selbst erstellt wurden, gelten die Urheberrechte Dritter. Diese
            werden als Inhalte Dritter gekennzeichnet. Sollten Sie trotzdem auf
            eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
            entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
            werden wir derartige Inhalte umgehend entfernen.
          </div>
          <!--
          <p>Angaben gemäß § 5 TMG</p>

          <p>
            Postanschrift
            <br />opta data Innovation Lab GmbH <br />Gesundheitscampus-Süd 33
            <br />44801 Bochum <br />info@optadata-innovationlab.de
            <br />www.optadata-innovationlab.de
          </p>

          <p>
            Geschäftsführer: Dimitri Ratkovski
            <br />Registergericht: Amtsgericht Bochum <br />Handelsregister-Nr.:
            HRB 18302 <br />Umsatzsteuer-Nr.: DE327414801 <br />Inhaltlich
            verantwortlicher gemäß § 10 Absatz 3 MDStV: <br />opta data
            Innovation Lab GmbH
          </p>

          <h6>Haftungshinweis</h6>
          <div>
            Diese Webseite wurde mit größter Sorgfalt erstellt. Jedoch
            übernehmen wir keine Gewähr für die Richtigkeit, Vollständigkeit und
            Aktualität der Inhalte. Als Diensteanbieter sind wir gemäß § 7 Abs.1
            TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
            Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
            Diensteanbieter nicht verpflichtet, übermittelte oder gespeicherte
            fremde Informationen zu überwachen oder nach Umständen zu forschen,
            die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
            Entfernung oder Sperrung der Nutzung von Informationen nach den
            allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche
            Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
            konkreten Rechtsverletzung möglich. Werden uns entsprechende
            Rechtsverletzungen bekannt, werden wir diese Inhalte umgehend
            entfernen. Haftung für Links Unser Angebot enthält Verlinkungen zu
            externen Webseiten Dritter. Auf diese Inhalte haben wir keinen
            Einfluss und können für diese auch keine Gewähr übernehmen. Für die
            Inhalte der verlinkten Seiten ist der jeweilige Anbieter oder
            Betreiber der Seiten verantwortlich. Rechtswidrige Inhalte waren zum
            Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
            inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
            Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Werden uns
            Rechtsverletzungen auf den verlinkten Seiten bekannt, werden wir
            derartige Links umgehend entfernen. Urheberrecht Die Inhalte und
            Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Für
            Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
            Verwertung außerhalb der Grenzen des Urheberrechtes ist eine
            schriftliche Zustimmung erforderlich. Downloads und Kopien dieser
            Seite sind nur für den eigenen, nicht kommerziellen Gebrauch
            gestattet. Für Inhalte auf dieser Seite, die nicht vom Betreiber
            selbst erstellt wurden, gelten die Urheberrechte Dritter. Diese
            werden als Inhalte Dritter gekennzeichnet. Sollten Sie trotzdem auf
            eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
            entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
            werden wir derartige Inhalte umgehend entfernen.
          </div>

          <br />
          <h6>Datenschutzerklärung</h6>
          <div>
            Wir freuen uns über Ihr Interesse an unserem Internetauftritt. Der
            Schutz Ihrer personenbezogenen Daten (im Folgenden auch kurz
            “Daten”) ist uns ein großes und sehr wichtiges Anliegen. Nachfolgend
            möchten wir Sie daher ausführlich darüber informieren, welche Daten
            bei Ihrem Besuch unseres Internetauftritts und Nutzung unserer
            dortigen Angebote erhoben und wie diese von uns im Folgenden
            verarbeitet oder genutzt werden. Ebenso möchten wir Sie darüber
            informieren, welche begleitenden Schutzmaßnahmen wir in technischer
            und organisatorischer Hinsicht getroffen haben. Bitte achten Sie
            darauf, dass diese Datenschutzrichtlinie von Zeit zu Zeit durch die
            Implementierung neuer Techniken und/oder durch Gesetzesänderungen
            aktualisiert werden kann. Hierauf machen wir Sie in geeigneter Weise
            aufmerksam. Selbstverständlich werden wir bei allen Änderungen stets
            in angemessener Weise Ihre Interessen berücksichtigen. Im Übrigen
            verweisen wir auf unsere Angaben im Impressum.
          </div>
          <br />
          <h6>Rechtsgrundlagen für die Verarbeitung Ihrer Daten</h6>
          <div>
            Rechtsgrundlagen für die Verarbeitung personenbezogener Daten sind:
            <br />
            <ul>
              <li>
                Soweit wir für Verarbeitungsvorgänge personenbezogener Daten
                eine Einwilligung der betroffenen Person einholen, dient Art. 6
                Abs. 1 S.1 lit. a) EU-Datenschutzgrundverordnung (DS-GVO) als
                Rechtsgrundlage.
              </li>
              <li>
                Bei der Verarbeitung von personenbezogenen Daten, die zur
                Erfüllung eines Vertrages erforderlich ist, dient Art. 6 Abs. 1
                S.1 lit. b) DS-GVO als Rechtsgrundlage. Dies gilt auch für
                Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher
                Maßnahmen erforderlich sind.
              </li>
              <li>
                Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung
                einer rechtlichen Verpflichtung erforderlich ist, der unser
                Unternehmen unterliegt, dient Art. 6 Abs. 1 S. 1 lit. c) DS-GVO
                als Rechtsgrundlage.
              </li>
              <li>
                Für den Fall, dass lebenswichtige Interessen der betroffenen
                Person oder einer anderen natürlichen Person eine Verarbeitung
                personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1
                S. 1 lit. d) DS-GVO als Rechtsgrundlage.
              </li>
              <li>
                Ist die Verarbeitung zur Wahrung eines berechtigten Interesses
                unseres Unternehmens oder eines Dritten erforderlich und
                überwiegen die Interessen, Grundrechte und Grundfreiheiten des
                Betroffenen das erstgenannte Interesse nicht, so dient Art. 6
                Abs. 1 S. 1 lit. f) DS-GVO als Rechtsgrundlage für die
                Verarbeitung.
              </li>
            </ul>
          </div>
          <br />-->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary col-2"
            data-dismiss="modal"
          >
            Abbrechen
          </button>
          <button
            type="button"
            class="btn btn-primary col-2"
            data-dismiss="modal"
          >
            Fertig
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalImpressum",
  data() {
    return {};
  }
};
</script>
