<template>
  <div>
    <ul class="list-unstyled">
      <li class="media">
        <img class="mr-3" :src="logo" alt="Was ist ein Innovation Lab?" />
        <div class="media-body">
          <h5 class="mt-0 mb-1">Was ist ein Innovation Lab?</h5>
          Das opta data Innovation Lab ist ein interdisziplinäres Team aus
          Entwicklern, Software-Ingenieuren, Mathematikern und
          Machine-Learning-Ingenieuren, das unter der Leitung von Jan Helmig
          Innovationslösungen erarbeitet.
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "InnoLab",
  data() {
    return {
      logo: require("../../assets/images/opta_data_IL_Webseite_images_li2.png")
    };
  }
};
</script>
