<template>
  <div>
    <ul class="list-unstyled">
      <li class="media">
        <img class="mr-3" :src="logo" alt="Unsere Schwerpunkte" />
        <div class="media-body">
          <h5 class="mt-0 mb-1">Unsere Schwerpunkte</h5>
          <ul>
            <li>Digitalisierung</li>
            <li>Mobile Applikationen</li>
            <li>Algorithmen der automatisierten Bilderkennung</li>
            <li>Optimierte Softwarelösungen für KI-Anwendungen</li>
            <li>Methoden und Technologien der Datenwissenschaft</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Main_Focus",
  data() {
    return {
      logo: require("../../assets/images/opta_data_IL_Webseite_images_li1.png")
    };
  }
};
</script>
