<template>
  <div>
    <ul class="list-unstyled">
      <li class="media">
        <img class="mr-3" :src="logo" alt="Was uns bewegt?" />
        <div class="media-body">
          <h5 class="mt-0 mb-1">Was uns bewegt?</h5>
          Die Innovationskultur als Teil der Unternehmenskultur beeinflusst
          maßgeblich, ob die Mitarbeiter in einem Unternehmen tatsächlich
          kreativ sein können und wollen. Wenn Menschen sich entfalten können,
          ist es ein wichtiger Erfolgsfaktor für das Unternehmen und dessen
          Innovationsmanagement. Wir arbeiten täglich daran, dass Innovation
          tatsächlich gelebt wird.
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Motivation",
  data() {
    return {
      logo: require("../../assets/images/opta_data_IL_Webseite_images_li3.png")
    };
  }
};
</script>
