<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <img :src="logo" width="220" height="30" alt="" />
        <a class="navbar-brand" href="#">&nbsp;</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                ><span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Über uns</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Projekte</a
              >
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#developerdays"
                  >Developer Days App</a
                >
                <a class="dropdown-item" href="#z-tag">Zukunftstag App</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#ki">Maschinelles Lernen</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#contact"
                data-toggle="modal"
                data-target="#contactModalScrollable-xl"
                >Kontakt</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#impressum"
                data-toggle="modal"
                data-target="#impressumModalScrollable-xl"
                >Impressum</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#dataProtection"
                data-toggle="modal"
                data-target="#dataProtectionModalScrollable-xl"
                >Datenschutz</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      logo: require("../../assets/images/opta_data_IL_Webseite_images_optadata-il-logo.png")
    };
  }
};
</script>
