<template>
  <div>
    <div class="container">
      <div class="card-deck">
        <div class="card">
          <a name="developerdays" id="developerdays"></a>
          <img :src="logo1" class="card-img-top" alt="Developer Days" />
          <div class="card-body">
            <h5 class="card-title">Developer Days App</h5>
            <p class="card-text text-left">
              Unsere App zur Branchenveranstaltung für die Entwickler der opta
              data Gruppe: Den Blick auf neue Branchentrends richten, wertvolles
              wertvolles Expertenwissen gewinnen, Netzwerke knüpfen und in
              entspannter Atmosphäre Erfahrungen mit Kollegen austauschen.
            </p>
          </div>
          <div class="card-footer border-0" style="background:white">
            <div class="row justify-content-center">
              <div class="pr-1">
                <button
                  class="btn btn-primary"
                  onclick="location.href='https://apps.apple.com/de/app/developer-days/id1494461173'"
                >
                  Im AppStore
                </button>
              </div>
              <div>
                <button
                  class="btn btn-primary"
                  onclick="location.href='https://play.google.com/store/apps/details?id=com.optadata.eventapp'"
                >
                  Bei GooglePlay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <a name="z-tag" id="z-tag"></a
          ><img :src="logo2" class="card-img-top" alt="opta data Zukunftstag" />

          <div class="card-body">
            <h5 class="card-title">7. opta data Zukunftstag</h5>
            <p class="card-text text-left">
              Unsere App zum Netzwerk-Event bietet Veranstaltungsinformationen
              für Heil- und Hilfsmittelerbringer, Pflegedienste, sowie
              Krankentransport- und Rettungsdienste an.&nbsp;Seit 2007 lädt die
              opta data Gruppe die Marktplayer der Gesundheitsberufe zur
              globalen Diskussion ein.
            </p>
          </div>
          <div class="card-footer border-0" style="background:white">
            <div class="button">
              <div class="row justify-content-center">
                <div class="pr-1">
                  <button
                    class="btn btn-primary"
                    onclick="location.href='https://apps.apple.com/de/app/opta-data-zukunftstag/id1497305028'"
                  >
                    Im AppStore
                  </button>
                </div>
                <div>
                  <button
                    class="btn btn-primary"
                    onclick="location.href='https://play.google.com/store/apps/details?id=com.optadatainnovationlab.zukunftstag'"
                  >
                    Bei GooglePlay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <a name="ki" id="ki"></a
          ><img :src="logo3" class="card-img-top" alt="Maschinelles Lernen" />
          <div class="card-body">
            <h5 class="card-title">Maschinelles Lernen</h5>
            <p class="card-text text-left">
              Als Innovation Lab arbeiten wir an der automatisierten
              Bilderkennung auf Basis neuronaler Netze und anderer
              Machine-Learning-Algorithmen. Die Forschungsarbeiten werden auch
              eng von unseren Hochschulpartnern an der BTU Cottbus und TU
              Dresden betreut.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Projects",
  data() {
    return {
      logo1: require("../../assets/images/opta_data_IL_Webseite_images_developer_days_400x200.jpg"),
      logo2: require("../../assets/images/opta_data_IL_Webseite_images_z-tag_400x200.jpg"),
      logo3: require("../../assets/images/opta_data_IL_Webseite_images_ki_400x200.jpg")
    };
  }
};
</script>
