<template>
  <div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  :src="logo_dev"
                  class="d-block w-100"
                  alt="opta data Developer Days App"
                />
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <div class="carousel-item">
                <img
                  :src="logo_future"
                  class="d-block w-100"
                  alt="opta data Zukunftstag App"
                />
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <div class="carousel-item">
                <img
                  :src="logo_ml"
                  class="d-block w-100"
                  alt="Maschinelles Lernen"
                />
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <div class="carousel-item">
                <img
                  :src="logo_il"
                  class="d-block w-100"
                  alt="opta data Innovation Lab GmbH"
                />
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
            </div>

            <!-- Left and right controls -->
            <a
              class="carousel-control-prev"
              href="#demo"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#demo"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Slider",
  data() {
    return {
      logo_dev: require("../../assets/images/opta_data_IL_Webseite_images_developer_days.jpg"),
      logo_future: require("../../assets/images/opta_data_IL_Webseite_images_zukunftstag.jpg"),
      logo_ml: require("../../assets/images/opta_data_IL_Webseite_images_maschinelles_lernen.jpg"),
      logo_il: require("../../assets/images/opta_data_IL_Webseite_images_optadata_innovation_lab.jpg")
    };
  }
};
</script>
