<template>
  <div id="app">
    <Navbar />
    <div id="nav">
      <Header />
    </div>
    <Project />
    <hr />
    <h2 class="text-center" id="about">ÜBER UNS</h2>
    <hr />
    <About />
    <hr />
    <Footer />
    <Impressum />
    <Contact />
    <DataProtection />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Project from "@/views/Project.vue";
import Header from "@/views/Header.vue";
import About from "@/views/About.vue";
import Footer from "@/components/Footer.vue";
import Impressum from "@/components/Impressum.vue";
import Contact from "@/components/Contact.vue";
import DataProtection from "@/components/DataProtection.vue";

export default {
  components: {
    Navbar,
    Project,
    Header,
    About,
    Footer,
    Impressum,
    Contact,
    DataProtection
  }
};
</script>

<style lang="scss">
@import "../assets/css/main.css";
</style>
